apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  labels:
    app: frontend-service
spec:
  selector:
    app: vite
  type: NodePort
  ports:
    - port: 3000
      targetPort: 8080
      nodePort: 30002
